@use './colors.scss';

body{
    font-family: 'Montserrat', sans-serif;
}

.navbar-light{
    .navbar-brand{
        color: colors.$primary-color;
    }
}

.header{
    position:relative;
    .header-img{
        background-image: url('../images/header-image.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 600px;
    }
    .header-text{
        position: absolute;
        text-align: center;
        top: 50%;
        left: 37%;
        transform: translate(-50%, -50%);
        h1{
            font-size: 65px;
            font-weight: 100;
        }
        h4{
            color: colors.$secondary-color;
        }
        width: 50%;
    }
}
.content-on-index{
    .row{
        h5{
            margin-bottom: 20px;
            font-weight: 600;
            color: colors.$text-color;
        }
    }
}
.templates-on-index{
    p{
        margin-top: 10px;
    }
}
.contact{
    position:relative;
    .contact-img{
        background-image: url('../images/footer-image.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 600px;
    }
    .contact-form{
        position: absolute;
        text-align: center;
        top: 50%;
        left: 27%;
        transform: translate(-50%, -50%);
        h1{
            font-size: 65px;
            font-weight: 100;
        }
        width: 40%;
        textarea, input{
            border-color: colors.$text-color;
            background-color: #fff0;
        }
    }
}
.login{
    background-image: url('../images/signIn.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.card{
    .card-body{
        padding: 50px;
    }
}
.editor-header{
    .card{
        border-start-end-radius: 10px;
        border-start-start-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        .card-header{
            background: transparent;
        }
    }
    .nav-tabs{
        .nav-link{
            color: colors.$text-color;
        }
        .nav-link.active{
            border-start-end-radius: 10px;
            border-start-start-radius: 10px;
            color: colors.$primary-color;
        }
    }
}
h1, a, a:hover, .btn-outline-primary{
    color: colors.$primary-color;
}
hr{
    background-color: colors.$primary-color;
}
.btn-link, .btn-link:hover{
    color: colors.$text-color;
}
.btn, .form-control, .card{
    border-radius: 30px;
}
.form-control{
    padding: 20px;
}
.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active{
    border-color: colors.$primary-color;
}
.btn-outline-primary:hover, .btn-outline-primary:active{
    background: colors.$primary-color;
    color: white;
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: colors.$primary-color;
    background-color: colors.$primary-color;
}
.content-on-index, .templates-on-index{
    text-align: center;
}
.templates{
    text-align: center;
    img{
        width: 350px;
    }
    .one-template{
        margin: 10px
    }
}
.details{
    img{
        min-width: 250px;
    }
    legend{
        font-size: 20px;
        font-weight: 400;
    }
}
.about{
    text-align: justify;
    img{
        min-width: 250px;
    }
}
.user-navigation{
    .navbar-nav {
        .dropdown-menu {
            border-radius: 30px;
            .dropdown-item:hover{
                background-color: transparent;
                color: colors.$primary-color;
            }
        }
    }
}

.horizontal-scrollable{
    overflow: auto;
    .row{
        flex-wrap: nowrap;
        float: none;
        margin: 10px;
        .preview-div{
            min-width: 150px;
            max-height: 180px;
            margin: 10px;
            img{        
                width: 150px;
                height: 150px;
                margin-bottom: 5px;
                object-fit: cover;
            }
        }
    }
}


@media (max-width: 576px) { 
    .card{
        width: 95%;
    }
    .header{
        .header-img{
            min-height: 450px;
        }
        .header-text{
            width: 90%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h1{
                font-size: 30px;
            }
            h4{
                font-size: 15px;
            }
        }
    }
    .contact{
        .contact-form{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
        }
    }
    .footer{
        .start{
            justify-content: center !important;
        }
        .end{
            justify-content: center !important;
        }
    }
}
@media (min-width: 576px) and (max-width: 768px){ 
    .header{
        .header-text{
            width: 60%;
            h1{
                font-size: 35px;
            }
            h4{
                font-size: 20px;
            }
        }
    }
    .contact{
        .contact-form{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
        }
    }
}
@media (min-width: 768px) and (max-width: 992px){ 
    .header{
        .header-text{
            h1{
                font-size: 35px;
            }
        }
    }
    .contact{
        .contact-form{
            top: 50%;
            left: 35%;
            transform: translate(-50%, -50%);
            width: 60%;
        }
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    .header{
        .header-text{
            h1{
                font-size: 45px;
            }
        }
    }
    .contact{
        .contact-form{
            top: 50%;
            left: 28%;
            transform: translate(-50%, -50%);
            width: 45%;
        }
    }
    .details{
        img{
            min-width: 540px;
        }
    }
}
@media (min-width: 1200px) and (max-width: 1600px) { 
    .header{
        .header-text{
            h1{
                font-size: 55px;
            }
        }
    }
}
@media (min-width: 1600px){ 
    .container{
        max-width: 1400px;
    }
}